
main{
    margin:0 auto;
    width:490px;
}
header {
    width:480px;
    height:75px;
}
aside {
    margin:0 auto;
    width: 480px;
    height: 150px;
}
div {
}
section {
    margin:0 auto;
    display:inline-block;
}
footer {
    margin:0 auto;
    width:480px;
    height:80px;
}



@media( min-width: 768px ) {
    main{
        margin:0 auto;
        width:980px;
    }
    header {
        width:900px;
        height:100px;
    }
    aside {
        margin:0 auto;
        width: 200px;
        height: 600px;
        float:left;
    }
    div {
            }
    section {
        margin:0 auto;
        display:inline-block;
    }
    footer {
        margin:0 auto;
        width:760px;
        height:150px;
        float:left;
    }
    
   
}