.split-container {
    margin: 0 auto;
    display:inline-block;
}

.cell-float {
    float:left;
    margin:0 auto;
}
#bottom {
    display:block;
    margin:0 auto;
}
.clear {
    float:clear;
    border:none;
}