.tops {
    width:480px;
    height: 125px;
}
.bottoms {
    width:240px;
    height: 125px; 
    float:left;
}
.clear {
    float:clear;
}
@media( min-width: 768px ) {
.tops {
    width:380px;
    height: 200px;
    float:left;
}
.bottoms {
    width: 190px;
    height: 250px;
    float:left;
}

}