

.tops {
    width:100%;
    height: 12.5%;
}
.bottoms {
    width:50%;
    height: 25%; 
}
.clear {
    float:clear;
}

@media ( min-width:760px){
.tops {
    width:100%;
    height: 12.5%;
}
.bottoms {
    width: 50%;
    height: 25%;
}
.clear {
    float:clear;
}
}
@media( min-width: 960px){
    .tops {
        width:80%;
        height:15%;
    }
    .bottoms {
        width:40%;
    }
}